In [1]:
import os
import time
import numpy as np
import pandas as pd

import json

from polyline.codec import PolylineCodec  # For decoding Google encoded polyline format

import urllib2

from IPython.core.display import clear_output

os.environ['GOOGLE_API_KEY'] = 'AIzaSyBLY5yRT_JUmRgz1pxUGuXs2tsTiBPugrY'

https://en.wikipedia.org/wiki/Travelling_salesman_problem

* no triangle inequality
* maybe not even symmetric, though we'll assume it is

"Set TSP"
https://en.wikipedia.org/wiki/Set_TSP_problem
http://student.agh.edu.pl/~bszczepa/sem5/BO/tpp-materialy/ICSE02.pdf

In [ ]:
#https://developers.google.com/maps/documentation/distancematrix/intro

In [165]:
# Convenience function for making rate-limited requests
def make_request(request, rate):
    rate = 120  # Rate limit (requests per minute)
    delay = 60.0/rate  # Request delay interval    
    
    etime = time.time() - make_request.last_time
    if etime < delay:
        print('sleeping')
        time.sleep(delay - etime)
    try:
        response = urllib2.urlopen(request)
    except urllib2.HTTPError:
        print('HTTP Error')
        return None

    output = json.load(response)  # Convert to JSON
    return output

make_request.last_time = time.time()  # Intialize timer

In [166]:
api_key = os.environ['GOOGLE_API_KEY']
rate = 120  # Rate limit

First off, let's only consider cities within a 15-mile radius of our origin point

In [163]:
# Load list of cities

f = open('./cities.txt', 'r')
s = f.read()
f.close()

cities = s.split('\n')

In [177]:
# Geocode city centers
url = 'https://maps.googleapis.com/maps/api/geocode/json?'

latitudes = []
longitudes = []

for city in cities:
    request = (url + 'key=' + api_key
        + '&address=' + city + ',MA'
        + '&region=us')
        
    output = make_request(request, rate)

    result = output['results'][0]  # Take first result
    latitudes.append(result['geometry']['location']['lat'])
    longitudes.append(result['geometry']['location']['lng'])

In [183]:
# Change Boston location to Runkeeper HQ
idx = cities.index('Boston')
latitudes[idx] = 42.363892
longitudes[idx] = -71.059490

In [184]:
df = pd.DataFrame(index=cities)
df['latitude'] = latitudes
df['longitude'] = longitudes
df.to_csv('./city_locs_out.csv')
df

             latitude  longitude
Arlington   42.415393 -71.156473
Bedford     42.490623 -71.276009
Belmont     42.395640 -71.177611
Boston      42.363892 -71.059490
Braintree   42.207902 -71.004001
Brookline   42.331764 -71.121163
Burlington  42.504716 -71.195621
Cambridge   42.373616 -71.109733
Canton      42.158432 -71.144773
Chelsea     42.391764 -71.032828
Cohasset    42.241767 -70.803654
Dedham      42.243609 -71.167654
Dover       42.245875 -71.282872
Everett     42.408430 -71.053663
Hingham     42.241817 -70.889759
Hull        42.302065 -70.907835
Lexington   42.443037 -71.228964
Lincoln     42.425928 -71.303947
Lynn        42.466763 -70.949494
Lynnfield   42.538690 -71.046564
Malden      42.425096 -71.066163
Marblehead  42.499958 -70.857802
Medford     42.418430 -71.106164
Melrose     42.458429 -71.066163
Milton      42.249532 -71.066165
Nahant      42.426516 -70.918869
Needham     42.280929 -71.237755
Newton      42.337041 -71.209221
Norwood     42.194391 -71.198969
Peabody     42.527873 -70.928661
Quincy      42.252877 -71.002270
Randolph    42.161974 -71.042551
Reading     42.525656 -71.095289
Revere      42.408430 -71.011995
Salem       42.519540 -70.896715
Saugus      42.465142 -71.011047
Somerville  42.387597 -71.099497
Stoneham    42.480247 -71.099972
Swampscott  42.470944 -70.917556
Wakefield   42.503940 -71.072339
Waltham     42.376485 -71.235611
Watertown   42.370930 -71.182832
Wellesley   42.296797 -71.292388
Weston      42.366763 -71.303113
Westwood    42.213987 -71.224499
Weymouth    42.218072 -70.941036
Wilmington  42.548171 -71.172447
Winchester  42.452303 -71.136996
Winthrop    42.377817 -70.981133
Woburn      42.479262 -71.152276

Towns
* Lexington
* Waltham
* Weston
* Natick
* Wellesley
* Boston
* Brookline
* Needham
* Dedham
* Milton
* Somerville

![text](http://affordablehousinginstitute.org/blogs/us/wp-content/uploads/brookline_boston.jpg)

In [5]:
# Import data
df = pd.read_csv('./cities.csv', index_col=0)
df = df.dropna()
df

             latitude  longitude
town
Arlington   42.409286 -71.149493
Belmont     42.393400 -71.163418
Boston      42.363781 -71.059484
Brookline   42.342213 -71.121201
Cambridge   42.373532 -71.118960
Somerville  42.396717 -71.122315

If you want to use the routing API you'll want to have your Google API key as an environment variable

In [185]:
# API parameters
url = 'https://maps.googleapis.com/maps/api/directions/json?'

distances = {city1:{city2: 0 for city2 in cities} for city1 in cities}  # Dictionary of origin-destination distances
route_polys = {city1:{city2: [] for city2 in cities} for city1 in cities}  # Dictionary of origin-destination routes

# Loop through origin/destination pairs and find shortest running route
latlons = zip(latitudes, longitudes)
count = 0
total = len(latlons)*(len(latlons) - 1)/2

for i in range(len(latlons)):
    for ii in range(i+1, len(latlons)):
        count += 1

        origin = cities[i]
        dest = cities[ii]

        clear_output(wait=True)
        print('{:s} to {:s} ({:d} of {:d})'.format(origin, dest, count, total))
        
        origin_loc_str = '{:0.5f},{:0.5f}'.format(latlons[i][0], latlons[i][1])
        dest_loc_str = '{:0.5f},{:0.5f}'.format(latlons[ii][0], latlons[ii][1])
        
        request = (url + 'key=' + api_key
            + '&origin=' + origin_loc_str
            + '&destination=' + dest_loc_str
            + '&mode=walking&alternatives=false')
        
        output = make_request(request, rate)
        route = output['routes'][0]['legs'][0]  # Only one route and leg should be returned
        
        # Store distances and polylines
        d = route['distance']['value']  # Distance in meters
        distances[origin][dest] = d
        distances[dest][origin] = d
        
        p = [step['polyline']['points'] for step in route['steps']]  # List of polylines for each part of route
        route_polys[origin][dest] = p

Winthrop to Woburn (1225 of 1225)

In [228]:
# Probabilistic greedy TSP solution
def greedy_tsp(distances, origin, max_total_dist):
    route = [origin]
    total_dist = 0.0

    dests = distances.keys()  # Remaining destinations
    dests.pop(dests.index(origin))  # Remove origin from potential destinations

    while len(dests) > 0:
        # Find distances from last city in route to next city
        d = [distances[route[-1]][next_dest] for next_dest in dests]

        # Turn into probability distribution and choose random element
        p = np.array(d)/float(sum(d))
        p = np.cumsum(p)  # Cumulative mass function
        idx = np.random.rand() < p  # Generate uniform random number and compare to CMF
        next_dest = np.array(dests)[idx][0]  # Select proposed next city
        dests.pop(dests.index(next_dest))  # Pop from list of potential destinations

        # Check to see if total round-trip distance exceeds limit.  
        # If so, add next destination and continue.  Otherwise, continue without adding
        roundtrip_total_dist = total_dist + distances[route[-1]][next_dest] + distances[next_dest][origin]
        if roundtrip_total_dist <= max_total_dist:
            total_dist = total_dist + distances[route[-1]][next_dest]
            route.append(next_dest)

    # Return to origin
    total_dist = total_dist + distances[route[-1]][origin]
    route.append(origin)  # Return to origin
    
    return route, total_dist

In [236]:
origin = 'Boston'  # Start in Boston

max_total_dist = 48280.3  # Maximum trip distance (in meters)
iters = 10000000 # Number of iterations

best_route = [origin, origin]  # Going nowhere
longest_dist = 0.0
most_cities = len(best_route) - 1

# Iterate over samples and keep best route
tic = time.time()
for i in range(iters):
    route, total_dist = greedy_tsp(distances, origin, max_total_dist)
    total_cities = len(route) - 1
    
    # Keep if more cities are hit, or if the same number of cities are hit 
    # but the distance is closer to the target
    if total_cities > most_cities:
        best_route = route
        longest_dist = total_dist
        most_cities = total_cities
    elif (total_cities == most_cities) and (total_dist > longest_dist):
        best_route = route
        longest_dist = total_dist

    # Report every 1000 iterations
    if (i+1) % 1000 == 0:
        etime = time.time() - tic
        clear_output(wait=True)
        print('{:,d} of {:,d} iterations ({:0.2%} complete)'.format(i+1, iters, (i+1)/float(iters)) + 
              '\nElapsed time = {:0.2f} minutes'.format(etime/60.0)) 
    
        print('\nBest route:')
        print(best_route)
        print('\n{:,d} cities visited'.format(most_cities))
        print('Total_distance = {:0.2f} miles ({:0.0f} meters)'.format(longest_dist/1609.34, longest_dist))

10,000,000 of 10,000,000 iterations (100.00% complete)
Elapsed time = 159.38 minutes

Best route:
['Boston', 'Revere', 'Everett', 'Malden', 'Arlington', 'Belmont', 'Medford', 'Cambridge', 'Somerville', 'Boston']

9 cities visited
Total_distance = 29.97 miles (48239 meters)

In [237]:
# Pull polylines for final route and extrack coordinates
route_coords = []
for c1, c2 in zip(best_route[:-1], best_route[1:]):
    poly = route_polys[c1][c2]
    if len(poly) > 0:  # Make sure record exists
        coords = [PolylineCodec().decode(p) for p in poly]
    else:  # If empty, look at transposed record
        poly = route_polys[c2][c1]
        coords = [PolylineCodec().decode(p)[::-1] for p in poly[::-1]]  # Reverse coordinates

    route_coords.append(np.concatenate(coords))

route_coords = np.concatenate(route_coords)
route_coords = route_coords[:, ::-1]  # Swap lat/lon to lon/lat

In [238]:
# Convert list of route coordinates to GeoJSON
geojson = {'type': 'FeatureCollection',
           'features': [{
                'type': 'Feature',
                'geometry': {
                    'type': 'LineString', 
                    'coordinates': route_coords.tolist()
                },
                'properties': {}
            }] }

# Save GeoJSON
f = open('./route.geojson', 'w')
json.dump(geojson, f)
f.close()

In [ ]:
    rate_limit = 120  # Rate limit (requests per minute)
    delay = 60.0/rate_limit  # Request delay interval    
    api_key = 'SDSMSSGQQLNKZQMKI'

    # Build track API call
    terms = {'api_key': api_key,
             'format': 'json',
             'id': track_id,
             'bucket': 'audio_summary'}
    url = 'http://developer.echonest.com/api/v4/track/profile?' + urlencode(terms)

In [5]:
# Compute matrix of pairwise distances

        location_name        town   latitude  longitude
0       Spy Pond Park   Arlington  42.409286 -71.149493
1   Claypit Pond Park     Belmont  42.393400 -71.163418
2                 NaN     Bedford        NaN        NaN
3       Boston Common      Boston  42.355049 -71.065625
4     Coolidge Corner   Brookline  42.342213 -71.121201
5      Harvard Square   Cambridge  42.373532 -71.118960
6                 NaN     Chelsea        NaN        NaN
7                 NaN     Concord        NaN        NaN
8                 NaN      Dedham        NaN        NaN
9                 NaN   Lexington        NaN        NaN
10                NaN     Lincoln        NaN        NaN
11                NaN      Malden        NaN        NaN
12                NaN     Medford        NaN        NaN
13                NaN     Melrose        NaN        NaN
14                NaN      Milton        NaN        NaN
15                NaN      Natick        NaN        NaN
16                NaN     Needham        NaN        NaN
17                NaN      Newton        NaN        NaN
18                NaN      Quincy        NaN        NaN
19                NaN     Reading        NaN        NaN
20                NaN      Revere        NaN        NaN
21                NaN      Saugus        NaN        NaN
22       Davis Square  Somerville  42.396717 -71.122315
23                NaN   Wakefield        NaN        NaN
24                NaN     Wayland        NaN        NaN
25                NaN   Wellesley        NaN        NaN
26                NaN      Weston        NaN        NaN
27                NaN  Wilmington        NaN        NaN
28                NaN  Winchester        NaN        NaN
29                NaN    Winthrop        NaN        NaN
30                NaN      Woburn        NaN        NaN